# Travis CI (http://travis-ci.org/) is a continuous integration
# service for open source projects. This file configures it
# to run unit tests for docopt-go.

language: go

go:
    - 1.11
    - tip

matrix:
    fast_finish: true

before_install:
    - go get -v github.com/golang/lint/golint
    - go get -v github.com/stretchr/testify/assert
    - go get -v code.google.com/p/go.tools/cmd/cover
    - go get -v github.com/mattn/goveralls

install:
    - go get -d -v ./... && go build -v ./...

script:
    - go vet -x ./...
    - $HOME/gopath/bin/golint .
    - go test -v ./...
    - go test -covermode=count -coverprofile=profile.cov .

after_script:
    - $HOME/gopath/bin/goveralls -coverprofile=profile.cov -service=travis-ci
